<table>
    {{#each zmones}}
    <tr>
        <td>
            {{this.vardas}}
        </td>
        <td>
            {{this.pavarde}}
        </td>
        <td>
            {{this.alga}}
        </td>
        <td>
            <a href="/vienas/"{{this.id}}>view</a>
        </td>
    </tr>
    {{/each}}
</table>

{{#each zmones}}
<div>
    {{this.Vardas}}
    <span> Vardas: {{this.vardas}} Pavarde: {{this.pavarde}}</span>
    {{this.Pavarde}}
</div>
{{/each}}